<footer class="text-center fixed-bottom text-lg-start footer">
    <section class="d-flex justify-content-center justify-content-lg-between p-1">
        <div class="container ">
            <div class="row">
                <div class="col-11 text-center">
                    <span class="fw-bold">Universidad Estatal de Milagro</span> - Todos los derechos Reservados -
                    (Arguello - Carriel - Santillan - Zambrano)
                </div>
                <div class="col">
                    <div>
                        <h5 class="fw-bold" id="reloj"></h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>
