{% load static %}

<nav class="navbar navbar-expand-lg navbar-fixed-top">
    <div class="container-fluid">
        <button class="navbar-toggler bg-secondary" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item">
                    <a href="{{ home }}"><img src="{% static "img/unemi_empleo_logo_blanco.png" %}"
                            style="width: 100px" alt=""></a>
                </li>
            </ul>
            <!--! NOTIFICACIONES-->
            <form class="d-flex" role="search">
                <div class="dropdown">
                    <a class="btn position-relative mx-3" href="#" data-bs-toggle="dropdown">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white"
                            class="bi bi-bell-fill" viewBox="0 0 16 16">
                            <path
                                d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2m.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z" />
                        </svg>
                        <span
                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            9+
                            <span class="visually-hidden">mensajes no leídos</span>
                        </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-xs"
                        aria-labelledby="panelNotificacionesUsuario">
                        <li class="dropdown-item">
                            <div class="d-flex align-items-center justify-content-center">
                                <img src="{% static "img/notificacion.svg" %}" style="width: 150px" alt="Notifications">
                            </div>
                            <p class="mb-3 text-center" style="color: #7C7C7C; font-size: 14px;">Actualmente no
                                tiene nuevas notificaciones</p>
                        </li><br>
                        <li>
                            <div class="border-top px-3 pt-3 pb-0 text-center">
                                <a href="#" class="text-decoration-none text-dark fw-bold" style="font-size: 14px;">
                                    <i class="fa fa-bell"></i>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                        fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2m.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z" />
                                    </svg>
                                    Ver mis notificaciones
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </form>
            <!--! DROPDPWN DEL EMPLEADO _ USUARIO-->
            {% block dropdown %}
            
            {% endblock dropdown %}
        </div>
    </div>
</nav>
<div class="navbar-fixed-top subnavbar"></div>